@import 'tailwindcss';
@plugin 'tailwind-scrollbar';

@theme {
    --qsspacing: calc(100dvh - 12rem);
}

html {
    /*font-size: 5.33333vw;*/
    font-size: calc(100vw / 750 * 40);
}

@media screen and (min-width: 750px) {
    html {
        font-size: 40px;
    }
}

:root {
    --minHeight: 100vh;
}

body {
    background-color: #232722;
    min-height: var(--minHeight);
}

.main {
    height: 100vh;
    max-width: 18.75rem;
    min-height: 34rem;
    margin: 0 auto;
    background-color: #52bdda;
}