@import 'tailwindcss';
@plugin 'tailwind-scrollbar';

@theme {
    --qsspacing: calc(100dvh - 12rem);
}

html {
    /*font-size: 5.33333vw;*/
    font-size: calc(100vw / 750 * 40);
}

@media screen and (min-width: 750px) {
    html {
        font-size: 40px;
    }
}

:root {
    --minHeight: 100vh;
}

body {
    background-color: #232722;
    min-height: var(--minHeight);
}

.main {
    height: 100vh;
    max-width: 18.75rem;
    min-height: 34rem;
    margin: 0 auto;
    background-color: #52bdda;
}

/*动画，向右滑动后消失*/
@theme {
    --animate-slide-right-fade: slide-right-fade 0.4s ease-out forwards;
    @keyframes slide-right-fade {
        from {
            transform: translateX(0);
            opacity: 1;
        }
        to {
            transform: translateX(3rem);
            opacity: 0;
        }
    }
}

/*动画，从右侧滑入*/
@theme {
    --animate-slide-right-in: slide-right-in 0.4s ease-out forwards;
    @keyframes slide-right-in {
        from {
            transform: translateX(2rem);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
}